body{
	margin:0px;
	padding:0px;
	font-family:arial,helvetical, sans-serif;
	max-width:100%;
}
	

header{
	width:100%;
	text-align:center;
	min-height:100px;
	background-color:black;
	color:white;
}

.header{
	padding-top:40px;
}

nav{
	min-height:40px;
	background-color:gray;
	margin-top:5px;
	padding-top:1%
}
.nav{  
	overflow:hidden;
	
}
.dropdown{ float:left;}
.dropdown.dropbtn{
  font-size: 16px;
  
  outline: none;
 
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0;
  overflow:hidden;
}
.dropbtn{
	color: white;
	background:none;
	border: none;
	font-size: 20px;
	padding-bottom: 1%;
}
 a:hover .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-items{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-items a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-items a:hover {
  background-color:red;
}

.dropdown:hover .dropdown-items {
  display: block;
}

li{
	list-style-type:none;
	font-size:20px;
	display:inline;
	
	
	
}

a{
	text-decoration:none;
	text-transform:capitalize;
	margin: auto 15px;
	color:white;
	float:left;
}

section{
	margin-top:-3%;
	
}

.banner{
	min-height:400px;
	text-align:center;
background:url(costa-rican-food.jpg) no-repeat  center;
background-size:cover;

	
}
.search{float:right;}
.h1{
	margin-top:50px;
	margin-left:40%;
	padding-top:200px;
	animation-name: colorchange;
	animation-duration:5s;
	animation-timing-function:ease-in ease-out;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:reverse;
	
	-webkit-animation-name: colorchange;
	-webkit-animation-duration:5s;
	-webkit-animation-timing-function:ease-in ease-out;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:reverse;
}
.ordernow{
	background:orange;
	min-width:4%;
	min-height:3%;
	box-shadow:2px -2px gray;
	animation-name: colorchange;
	animation-duration:5s;
	animation-timing-function:ease-in ease-out;
	animation-delay:0s;
	animation-iteration-count:infinite;
	animation-direction:reverse;
	height:100px;
	width:20px;
	-webkit-animation-name: colorchange;
	-webkit-animation-duration:5s;
	-webkit-animation-timing-function:ease-in ease-out;
	-webkit-animation-delay:0s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-direction:reverse;
}
@keyframes colorchange{
	from { width:200px;}
	to { width: 100px;}
}
@-webkit-keyframes colorchange{
	from { width:20px;}
	to { width: 100px;}
}
.contact-us{
	min-height:420px;
	background-color:gray;
	color:white;
	margin-top:-0.5%;
	
}
.footerlinks{
	color:#CC0000;
}

.details{
	display:block;
	text-align:justify;
    width:20%;
	float:left;
	padding-left:20px;
	margin-left:100px;
	margin-top:25px;
}

footer{
	min-width:100%;
	color:white;
	background-color:black;
	text-align:center;
	padding-top:10px;
}
